
.gameFieldCanvas { 
    display: block;
    background-image: url('gameFieldPictures/emptyGamefield.png');
    width: 450px; 
    height: 500px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;
}

/* .wrapper{
    position:relative;
    width: 450px; 
    height: 500px;
} */
/* .figureField{
    position:absolute; 
    background: red; 
    display: block; 
    margin: 0 auto; 
    width: 450px; 
    height: 500px;
} */