#jumbotron{
    background: darkseagreen;
}
#pictureLogo{
    width: 70px;
    height: 50px;
}

.examples{
    margin-top: 100px;
    margin-left: 30px;
    width: 50%;
}

.alert-examples{
    margin-left: 30px;
}

.input_example{

}

.alerts{

}